@font-face {
	font-family: OpenSans;
	src: local(OpenSans-Light), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: OpenSans;
	src: local(OpenSans-Light), url('../fonts/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: OpenSans;
	src: local(OpenSans-SemiBold), url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans-SemiBold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

:root {
	--blue: #3172b9;
	--light-blue: #71a7e2;
	--dark-blue: #0e3b6c;
	--main-text: #787878;
	--black: #1c1c1c;
	--white: #fff;
	--light-gray: #e4e4e4;
}

body {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'OpenSans', sans-serif;
}

/* Helpers */
.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main */
.body {
	padding: 30px 0 45px;
	font-size: 16px;
	font-weight: 400;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.container-flex {
	display: flex;
}

.header {
	padding-bottom: 30px;
}

.bordered {
	border-bottom: 1px solid #dadada;
}

.nav-wrapper {
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
}

.logo_header {
	margin-right: auto;
}

.nav_header {
	margin-right: 52px;
}

.nav__item_header:not(:last-of-type) {
	margin-right: 52px;
}

.section {
	padding: 87px 0 160px;
}

.section_hero {
	padding: 113px 0 134px;
}

.secure {
	display: block;
	padding-left: 30px;
	font-size: 11px;
	text-transform: uppercase;
	color: var(--main-text);
	background: url(../img/secure-icon.svg) no-repeat left center;
	background-size: contain;
}

.hero-btn__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
}

.footer {
	padding-top: 45px;
}

.btn {
	position: relative;
	padding: 15px 35px;
	font-size: 15px;
	font-weight: 600;
	border-radius: 3px;
	background: var(--blue);
	color: var(--white);
	text-transform: uppercase;
	transition: .3s ease-in-out background, .3s ease-in-out color;
}

.btn:before {
	content: "";
	position: absolute;
	left: -3px;
	top: -3px;
	right: -3px;
	bottom: -3px;
	border-radius: 3px;
	border: 1px solid transparent;
	transition: .3s ease-in-out border;
}

.btn:hover {
	background: var(--light-blue);
}

.btn:focus,
.btn:focus-visible {
	outline: none;
}

.btn:focus::before {
	border: 1px solid var(--light-blue);
}

.btn:active {
	background: var(--dark-blue);
	outline: none;
}

.btn:active::before {
	outline: none;
}

.section_hero {
	background: url('../img/first-bg.jpg') no-repeat right center / cover;
}

.btn_hero {
	padding: 19px 58px;
	margin-bottom: 15px;
}

.hero-text {
	max-width: 530px;
	display: flex;
	flex-direction: column;
}

.main-title {
	margin: 0;
	margin-bottom: 26px;
	font-size: 40px;
	font-weight: 300;
	line-height: 130%;
}

.main-subtitle {
	margin: 0;
	margin-bottom: 34px;
	font-size: 16px;
	line-height: 155%;
}

.section__title {
	margin: 0;
	margin-bottom: 42px;
	font-size: 36px;
	font-weight: 300;
	color: var(--black);
}

.section__title_servises,
.section__title_join-us {
	margin-bottom: 21px;
	text-align: center;
}

.section__subtitle {
	margin: 0;
	margin-bottom: 54px;
	text-align: center;
	color: var(--main-text);
}

.section__title_servises {
	text-align: center;
}

.cards__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.cards__list_servises {
	--gap: 30px;
	--offsets: 3;
}

.cards__list_articles {
	--gap: 30px;
	--offsets: 1;
}

.card__list_clients {
	--gap: 30px;
	--offsets: 2;
}

.cards__item {
	width: calc((100% - var(--gap) * var(--offsets)) / (var(--offsets) + 1));
	border: 1px solid var(--light-gray);
	border-radius: 5px;
	overflow: hidden;
}

.cards__item_servises {
	padding: 62px 30px;
	text-align: center;
}

.card__icon {
	margin-bottom: 27px;
}

.card__title {
	margin: 0;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
	color: var(--black);
}

.card__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	color: var(--main-text);
}

.post {
	display: flex;
	gap: 30px;
}

.post__wrapper {
	padding: 23px 30px 38px 0;
}

.post__date {
	font-size: 10px;
	line-height: 150%;
	color: var(--main-text);
}

.post__title {
	margin: 0;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
	color: var(--black);
}

.post__text {
	margin: 0;
	max-width: 210px;
	font-size: 14px;
	line-height: 150%;
	color: var(--main-text);
}

.client-card {
	padding: 56px 36px 32px;
}

.client__text {
	margin: 0;
	margin-bottom: 28px;
	padding-bottom: 33px;
	font-size: 14px;
	line-height: 180%;
	color: var(--main-text);
	border-bottom: 1px solid var(--light-gray);
}

.client__wrapper {
	display: flex;
	gap: 17px;
}

.client__avatar {
	width: 67px;
	height: 67px;
	border: 2px solid var(--blue);
	border-radius: 50%;
}

.client__name {
	margin: 0;
	font-size: 17px;
	font-weight: 600;
	line-height: 180%;
	color: var(--black);
}

.client__post {
	margin: 0;
	font-size: 14px;
	line-height: 180%;
	color: var(--main-text);
}

.contacts__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.contacts__block {
	max-width: 370px;
}
.contacts__title {
	margin: 0;
	margin-bottom: 30px;
	padding-top: 48px;
	font-size: 17px;
	line-height: 180%;
	font-weight: 600;
	color: var(--black);
	background-position: top left;
}

.contacts__block_location {
	background: url(../img/location-icon.svg) no-repeat;
}

.contacts__block_call {
	background: url(../img/phone-icon.svg) no-repeat;
}

.contacts__block_email {
	background: url(../img/mail-icon.svg) no-repeat;
}

.contacts__text,
.contacts__link {
	max-width: 214px;
	font-size: 14px;
	font-weight: 400;
	line-height: 180%;
	color: var(--main-text);
}

.contacts__link {
	display: block;
	max-width: 160px;
}

.footer .container-flex {
	justify-content: space-between;
	align-items: center;
}

.footer__left {
	display: flex;
	align-items: center;
	gap: 25px;
}

.footer__copyright {
	font-size: 12px;
	color: var(--main-text);
}

.footer__right {
	display: flex;
	align-items: center;
	gap: 56px;
}

.nav__list_footer {
	gap: 28px;
}

.nav__link {
	font-size: 15px;
	font-weight: 600;
	color: var(--black);
	border-bottom: 2px solid transparent;
	transition: .3s ease-in-out color, .3s ease-in-out border, .3s ease-in-out outline;
}

.nav__link_footer {	
	color: var(--main-text);	
	transition: .3s ease-in-out color, .3s ease-in-out border, .3s ease-in-out outline;
}

.nav__link_footer {
	color: var(--main-text);
}

.nav__link:hover {
	color: var(--light-blue);
}

.nav__link:focus {
	color: var(--black);
	outline: 1px solid var(--light-blue);
	outline-offset: 3px;
}

.nav__link:active {
	color: var(--dark-blue);
	border-bottom: 2px solid var(--dark-blue);
	outline: none;
}

.social__list {
	display: flex;
	gap: 32px;
}

.social__link {
	display: inline-block;
	width: 24px;
	height: 18px;
	background-position: center center;
}

.social__link_twitter {
	background: url(../img/twitter-icon.svg) no-repeat;
}

.social__link_linkedin {
	background: url(../img/linkedin-icon.svg) no-repeat;
}

.social__link_mail {
	background: url(../img/mailto-icon.svg) no-repeat;
}

.form {
	
}

.form__top {
	margin-bottom: 19px;
	display: flex;
	gap: 19px;
}

.form__left,
.form__right {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	gap: 19px;
}

.form__input,
.form__select {
	width: 48%;
	padding: 15px 28px;
	border: 1px solid #dadada;
	border-radius: 50px;
}

.form__input::placeholder,
.form__select::placeholder {
	color:var(--main-text);
}

.form__select {
	appearance: none;
	color: var(--main-text);
	background: url(../img/select-arrow.svg) no-repeat right 24px center;
}

.form__textarea {
	width: 100%;
	padding: 15px 28px;
	border: 1px solid #dadada;
	border-radius: 20px;
	resize: none;
}

.form__bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.form__bottom label {
	font-size: 12px;
	color: var(--main-text);
}

.form__bottom a {
	color: var(--blue);
	text-decoration: underline;
}

.form-btn__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn_rounded {
	margin-bottom: 9px;
	padding: 20px 67px;
	border-radius: 50px;
}